<%- include ('partials/header.ejs') %>

<main class="cidadesBody">
    <h1>BUSCA RÁPIDA DE GUIAS</h1>

    <table  class="cidadesTable">
        <thead>
            <tr>
                <!--<th></th>-->
                <th>NOME: 
                    <span class="material-symbols-outlined">swap_vert</span>
                </th>
                <th>PONTO TURISTICO 
                    <span class="material-symbols-outlined">swap_vert</span>
                </th>
                <th>SITUAÇÃO 
                    <span class="material-symbols-outlined">swap_vert</span>
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% pontos.forEach(function(guia){ %>
                <tr>
                    <!--<td><img src="<%= guia.profilePic %>" alt=""></td>-->
                    <td><%= guia.nome %></td>
                    <td><%= guia.pontoTuristico %></td>
                    <td><%= guia.operacao %></td>
                    <td>
                        <div class="btnsActionscidades">
                            <a class="editarcidade" href="/cidades/edit/<%= guia.id %>">EDITAR</a>
                        </div>
                    </td>
                    <td>
                        <div class="btnsActionscidades">
                            <a class="deletarcidade" href="/cidades/delete/<%= guia.id %>" onclick="return confirm('Tem certeza que deseja excluir o cadastro do cidade: <%= guia.nome %>?')">EXCLUIR</a>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4"></th>
            </tr>
        </tfoot>
    </table>
</main>

<%- include ('partials/footer.ejs') %>